Package: me.lau.oledcord
Name: OLED Mode for Discord
Version: 1.0.0
Architecture: iphoneos-arm
Description: True OLED dark mode for the iOS Discord app
Maintainer: ren7995
Author: ren7995
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
